@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 98%);
  --text: hsl(0, 0%, 15%);
  --primary: hsl(270, 50%, 40%);
  font-family: 'Nunito sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(270, 3%, 14%);
    --text: hsl(0, 0%, 98%);
    --primary: hsl(270, 73%, 67%);
  }
}

html {
  background: var(--background);
  color: var(--text);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary);
}